.search-header {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  margin: 0 16px;
}

.sort-filter {
  background-color: rgba(221, 221, 221, 0.835);
  border-radius: 50px;
  border: none;
  font-weight: 500;
  letter-spacing: 0.4px;
  font-size: 13x;
  margin-right: 32px;
  padding: 4px 16px;
  width: 165px;
  transition: filter 100ms ease;
}

.sort-filter:hover {
  filter: brightness(0.94);
}

.cards-container {
  width: 100%;
  padding: 32px 8px 0 16px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 8px;
}

.card--wrapper {
  margin-bottom: 48px;
  width: calc((100% - 16px) / 3);
  position: relative;
  transition: all 225ms ease;
}

.card--wrapper:hover {
  transform: scale(0.98);
}

.card--wrapper:hover .hover-desc {
  opacity: 1;
}

.card--wrapper:hover::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  z-index: 999;
}

.hover-desc {
  top: 40%;
  left: 50px;
  transform: translateY(-40%);
  width: 70%;
  position: absolute;
  color: white;
  font-size: 24px;
  z-index: 1000;
  opacity: 0;
  transition: all 300ms ease;
  text-align: center;
}

.card {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.search-poster--wrapper {
  width: 55%;
  position: relative;
}

.card__info {
  width: 50%;
  padding-left: 16px;
}

.card__item {
  margin-bottom: 4px;
}

.year.card__item {
  margin-bottom: 16px;
}

.genre.card__item {
  margin-bottom: 16px;
}

.star {
  margin-top: 4px;
  color: rgb(245, 198, 28);
}

.rating {
  display: flex;
  flex-wrap: none;
}

.search-now-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 400px;
}

.prompt__img--wrapper {
  width: 450px;
  transform: translateX(-5px);
  filter: sepia(58%) blur(0.83px);
}

.prompt__text {
  transform: translateY(-10px);
  font-size: 20px;
  margin-bottom: 80px;
}

.loading--wrapper {
  width: calc(100% / 3);
  padding-right: 32px;
  margin-bottom: 48px;
}

.card--loading {
  display: flex;
  width: 100%;
  height: 250px;
}

.search-poster--wrapper--loading {
  width: 55%;
  height: 100%;
  background-color: #e2e8f0; /* Fallback base gray */
  background-image: linear-gradient(
    90deg,
    #e2e8f0 0px,
    #f1f5f9 40%,
    #e2e8f0 80%
  );
  background-size: 200% 100%; /* Stretch background horizontally to allow movement */
  background-position: 100% 0; /* Initial placement */
  animation: shimmer 1.5s infinite linear;
}

.poster-unavailable {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__info.loading {
  width: 40%;
  padding-left: 16px;
}

.title.loading,
.year.loading,
.director.loading,
.starring.loading,
.genre.loading,
.rating.loading {
  width: 100%;
  height: 8%;
  margin-bottom: 10px;
  background-color: hsl(0, 0%, 0%);
  background-image: linear-gradient(
    90deg,
    rgb(226, 232, 240) 0px,
    rgb(241, 245, 249) 40%,
    rgb(226, 232, 240) 80%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: shimmer 1.5s infinite linear;
}

.stars {
  display: flex;
  flex-wrap: nowrap;
}

.unavailable--text {
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.unavailable--img {
  width: 160px;
  margin-top: 16px;
}

@keyframes shimmer {
  to {
    background-position: -100% 0;
  }
}
