@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: calc(100vh - 250px - 200px);
}

.row {
  max-width: 1600px;
  margin: 0 auto;
}

.logo__img--wrapper {
  display: flex;
  width: 50px;
  height: 50px;
}

.logo__img {
  filter: invert(1);
}

img {
  width: 100%;
  cursor: pointer;
}

.poster {
  border-radius: 4px;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
}

a:not(.no-underline)::after {
  border: 1px solid white;
  position: absolute;
  bottom: -3px;
  content: "";
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 150ms ease;
}

a:hover::after {
  opacity: 1;
}

input:focus {
  outline: none;
}

button {
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
}

button:active {
  filter: brightness(0.85);
  transform: scale(0.97);
}

.text--accent {
  color: rgb(232, 181, 115);
}

.disabled-link {
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  .landing {
    width: 800px !important;
  }

  .landing__img {
    width: 100% !important;
    height: auto !important;
  }

  .landing__img--wrapper {
    width: 300px !important;
    height: auto !important;
  }

  .landing__info--title {
    font-size: 22px !important;
    padding-right: 64px !important;
  }

  .landing__info--btn {
    font-size: 16px;
  }

  .unavailable--text {
    font-size: 18px !important;
    text-align: center !important;
  }

  .unavailable--img {
    margin-top: 32px;
    width: 112px !important;
  }

  .cards-container {
    margin-left: 0 !important;
  }

  .cards {
    padding: 0 32px;
  }

  .card__item {
    font-size: 14px;
  }

  .info__item {
    font-size: 16px !important;
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: start !important;
  }

  .movie-card {
    flex-wrap: wrap;
    justify-content: space-between !important;
    align-items: center;
    margin: 0 0 0 0 !important;
    padding: 32px 32px 32px 32px !important;
  }

  .movie__info {
    margin-left: 32px;
  }

  .ratings {
    margin-right: 40px;
  }

  .poster--wrapper {
    display: flex;
    flex-basis: 100%;
    max-width: none !important;
    align-content: center;
    justify-content: center;
    margin-bottom: 32px;
  }

  .poster {
    width: 50%;
  }

  .plot {
    margin-bottom: 32px !important;
  }

  .prompt__img--wrapper {
    width: 300px !important;
  }
}

@media (max-width: 980px) {
  .landing {
    width: 500px;
    margin-left: 0 !important;
  }

  .landing__img {
    width: 100%;
    height: auto;
  }

  .landing__img--wrapper {
    margin-left: 8vw !important;
    width: 250px !important;
    height: auto;
  }

  .landing__info--title {
    font-size: 28px !important;
    padding-right: 100px;
  }

  .landing__info--btn {
    font-size: 18px;
    margin-top: 32px;
  }

  .card--wrapper {
    width: calc((100% - 8px) / 2) !important;
  }

  .loading--wrapper {
    width: calc((100% - 8px) / 2) !important;
  }

  .hover-desc {
    font-size: 16px !important;
  }

  .movie__info--col {
    width: 50%;
    padding-right: 16px;
  }

  .movie__info {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    padding-left: 16px !important;
  }

  .ratings {
    margin: 32px 0 0 0 !important;
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .rating {
    flex-direction: row;
    align-items: center !important;
  }

  .rating__text {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .landing {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  .landing__info {
    margin-top: 32px;
    margin-right: 0 !important;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .landing__info--title {
    font-size: 32px !important;
    padding-right: 0px !important;
  }

  .landing__info--btn {
    margin-top: 32px !important;
    font-size: 20px !important;
  }

  .landing__img--wrapper {
    width: auto !important;
    height: 100% !important;
    margin-left: 0 !important;
  }

  .search-now-prompt {
    height: 100% !important;
    padding-bottom: 32px !important;
  }

  .prompt__img--wrapper {
    width: 300px !important;
  }

  .card--wrapper {
    width: 100% !important;
  }

  .loading--wrapper {
    width: 100% !important;
  }

  .card__item {
    font-size: 18px;
  }

  .card__info {
    margin-left: 16px;
  }

  .info__item {
    font-size: 16px !important;
  }
}

@media (max-width: 520px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .card__info {
    display: flex;
    flex-direction: column;
    margin: 16px 0 0 0;
    padding: 0;
    width: 100% !important;
  }

  .card__info--col {
    padding-right: 16px;
  }

  .info__item {
    font-size: 14px !important;
  }

  .rating-icon {
    width: 24px !important;
    height: 24px !important;
  }

  .sort-filter {
    margin: 0px !important;
  }
}

@media (max-width: 395px) {
  .nav-header {
    align-items: center;
    justify-content: center !important;
  }
  .nav-header__links {
    visibility: hidden;
    position: absolute;
  }

  .nav-footer__input {
    padding: 8px !important;
  }

  .landing {
    width: 300px !important;
  }

  .landing__info {
    width: 100% !important;
  }

  .landing__img--wrapper {
    width: 180px !important;
  }

  .landing__info--title {
    font-size: 18px !important;
    text-wrap: wrap !important;
    text-align: center;
    width: 100%;
  }

  .prompt__img--wrapper {
    width: 200px !important;
    transform: translateY(-40px) !important;
  }

  .prompt__text {
    font-size: 14px !important;
  }

  .poster--wrapper {
    width: 100% !important;
  }

  .movie-card {
    justify-content: center !important;
    flex-direction: column;
    align-items: center;
  }

  .movie__info {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .card__item {
    font-size: 14px !important;
  }

  .movie__info {
    flex-direction: column !important;
    align-items: center !important;
  }

  .ratings {
    padding: 0 !important;
    margin: 16px 0 0 0 !important;
    width: 50% !important;
    flex-direction: column;
    align-items: flex-start !important;
  }
}
